* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", "sans-serif";
  font-size: 10px;
  color: #222D4A;
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  position: relative;
  overflow-x: clip;
  background-color: #F7F8F9;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
  all: unset;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

button {
  all: unset;
}

.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  background-color: #00ac45;
  transition: all 0.2s ease;
}
.buy-button:hover {
  background-color: #00933b;
}
.buy-button:active {
  background-color: #007931;
  transition: none;
}

.container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding-left: 10px;
}

/* ---------- HEADER ---------- */
.header {
  position: sticky;
  top: 0;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 15px 0px rgba(61, 61, 61, 0.3);
  z-index: 5;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}
.header__logo {
  font-family: "Rubik Mono One", sans-serif;
  font-size: min(3.5rem, 6vw);
}
.header__link {
  transition: all 0.2s ease;
}
.header__link:hover {
  color: #fff;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
}
.header__searchbar {
  flex-basis: 70rem;
  margin-left: 10px;
}
.header__field {
  width: 100%;
  height: 4rem;
  padding-left: 40px;
  background: no-repeat url(./svg/magnifying-glass.svg);
  background-position: left;
  background-size: contain;
  background-color: #fdfdfd;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(61, 61, 61, 0.4);
  font-size: 2rem;
  transition: all 0.3s ease;
}
.header__field:hover {
  box-shadow: 0px 2px 5px 0px rgba(61, 61, 61, 0.4);
}
.header__icons {
  display: flex;
  justify-content: space-around;
  flex-basis: 12rem;
  margin-left: 10px;
}
.header__icon {
  position: relative;
  width: 4rem;
  height: 4rem;
}
.header__icon--heart:hover, .header__icon--heart.active {
  color: #e90000;
}
.header__icon--basket:hover, .header__icon--basket.active {
  color: #00B2F2;
}
.header__icon.active .header__icon-counter {
  display: block;
}
.header__icon-counter {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  top: 0;
  right: -4px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 20px;
  color: #fff;
  background-color: #00ac45;
}
.header .animatedSvg {
  color: currentColor;
  fill: currentColor;
  transition: all 0.3s ease;
}

.basket {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: calc(8rem + 15px);
  transform: translateX(110%);
  max-width: 700px;
  min-width: 300px;
  width: 90%;
  height: max-content;
  padding: 15px;
  border-radius: 20px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
  cursor: default;
  user-select: none;
}
.basket.active {
  transform: translateX(0);
}
.basket__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
.basket__title {
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 5px;
}
.basket__clear {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}
.basket__clear.active::before {
  background-image: url(./img/bin.gif);
}
.basket__clear::before {
  content: "";
  position: absolute;
  left: -23px;
  height: 20px;
  width: 20px;
  background-image: url(./img/bin-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.basket__content {
  display: none;
  flex-direction: column;
  gap: 5px;
  height: max-content;
  max-height: calc(100vh - 8rem - 150px);
  overflow-y: scroll;
  padding: 5px;
}
.basket__content.active {
  display: flex;
}
.basket__content.active ~ .basket__footer {
  display: flex;
}
.basket__content.active + .basket__empty {
  display: none;
}
.basket__empty {
  padding: 20px 0;
  text-align: center;
  font-size: 2.5rem;
  color: #000;
}
.basket__item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
}
.basket__item:hover {
  transform: translateZ(0);
  transform: scale(101%);
}
.basket__item:hover .basket__item-delete {
  opacity: 1;
}
.basket__item .basket__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100px;
  width: 100px;
}
.basket__item-image {
  height: 100px;
}
.basket__item-description {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
  max-width: 200px;
  padding-left: 5px;
  padding-top: 10px;
  color: #000;
}
.basket__item-title {
  font-size: 1.7rem;
  font-weight: normal;
}
.basket__item-price {
  font-size: 1.6rem;
}
.basket__item-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.basket__item-counter .count-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s ease;
}
.basket__item-counter .count-button:hover {
  background-color: #d5d5d5;
}
.basket__item-counter .count-button:active {
  background-color: #aaa;
}
.basket__item-counter .count-button--plus {
  background-image: url(./img/plus.png);
}
.basket__item-counter .count-button--minus {
  background-image: url(./img/minus.png);
}
.basket__item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 2rem;
  border: 1px solid #000;
  border-radius: 5px;
}
.basket__item-total {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  font-size: 2rem;
  color: #000;
}
.basket__item-delete {
  opacity: 0;
  padding-right: 20px;
  font-size: 4rem;
  color: rgba(189, 0, 0, 0.5);
  transition: color 0.2s ease;
  cursor: pointer;
}
.basket__item-delete:hover {
  color: #bd0000;
}
.basket__item-delete:active {
  color: #ff0b0b;
  transition: none;
}
.basket__footer {
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
  padding-top: 5px;
}
.basket__footer.active {
  display: flex;
}
.basket__total {
  font-size: 2rem;
  color: #000;
}
.basket__order-button {
  padding: 10px 20px;
  font-size: 1.8rem;
}

/* ---------- MAIN SECTION ---------- */
.main {
  height: max-content;
  min-height: calc(100vh - 8rem - 150px);
  padding-bottom: 50px;
}
.main__header {
  font-size: 3.5rem;
  line-height: 10rem;
}
.main__body {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: max-content;
}
.main__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  flex-grow: 1;
}
.main__pagination {
  display: none;
  justify-content: center;
  align-items: center;
}
.main__pagination.active {
  display: flex;
}
.main__pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: 300px;
  border-radius: 30px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 2px 4px #BDBFC0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main__pagination-button:hover {
  color: #fff;
  background-color: #060606;
  box-shadow: 0px 4px 5px #BDBFC0;
}

.goods-counter {
  font-size: 1.7rem;
  font-weight: normal;
  color: #888;
}

/* ----- filters ----- */
.filters {
  align-self: flex-start;
  position: sticky;
  top: calc(8rem + 10px);
  max-width: 300px;
  width: 100%;
}
.filters__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}
.filter__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  line-height: calc(1.8rem + 10px);
  font-weight: bold;
  cursor: pointer;
}
.filter__description.active .filter__toggler::after {
  transform: scaleY(0.1);
}
.filter__description.active + .filter__content {
  display: flex;
}
.filter__toggler {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
}
.filter__toggler::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 1.8rem;
  background-color: #222D4A;
  transform: translateX(-50%);
  transform-origin: center;
  transition: all 0.2s ease;
}
.filter__toggler::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 1.8rem;
  height: 2px;
  background-color: #222D4A;
  transform: translateY(-50%);
}
.filter__content {
  display: none;
  flex-direction: column;
}
.filter__content .price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.filter__content .price-container .price {
  height: 4rem;
  width: 100px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 2rem;
}
.filter__content .price-container .delimiter {
  height: 3px;
  width: 20px;
  background-color: #222D4A;
}
.filter__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 15px;
}
.filter__item {
  position: relative;
}
.filter__checkbox {
  position: absolute;
  appearance: none;
}
.filter__checkbox:checked + .filter__label::before {
  background-color: #00B2F2;
}
.filter__label {
  font-size: 1.5rem;
  padding-left: 22px;
  cursor: pointer;
}
.filter__label::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.2s ease;
}
.filter__label::after {
  content: "";
  position: absolute;
  display: block;
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  background-image: url(./svg/check-mark.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----- sort options ----- */
.sort-options {
  display: flex;
  justify-content: start;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 5px;
}
.sort-options__description {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  font-size: 1.5rem;
}
.sort-options__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5vw;
  width: 100%;
  padding-left: 10px;
}
.sort-options__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 6rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.sort-options__item:hover {
  color: #00B2F2;
}
.sort-options__item.active {
  color: #00B2F2;
  border-bottom: 3px solid #00B2F2;
  padding-top: 3px;
}

/* ----- products ----- */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
  position: relative;
  height: max-content;
  margin-bottom: 10px;
  padding: 0 5px;
}

.no-goods {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  background: transparent;
  text-align: center;
  font-size: 4rem;
  color: #000;
  cursor: default;
}

/* ----- product card ----- */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  cursor: default;
}
.product-card:hover {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
}
.product-card:hover .product-card__description {
  display: block;
}
.product-card__image-link {
  align-self: center;
  margin-bottom: 10px;
}
.product-card__name {
  font-size: 1.7rem;
  margin-bottom: 5px;
}
.product-card__name:hover {
  color: #00B2F2;
}
.product-card__rating {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 15px;
}
.product-card__rating-star {
  height: 1.5rem;
}
.product-card__price-word {
  color: #888;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: 5px;
}
.product-card__price {
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.product-card__buy-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product-card__button {
  flex-grow: 1;
  max-width: 180px;
  padding: 15px 0;
  font-size: 1.8rem;
}
.product-card__button.in-basket {
  background-color: #0094b9;
}
.product-card__button.in-basket:hover {
  background-color: #0080a0;
}
.product-card__button.in-basket:active {
  background-color: #006b86;
  transition: none;
}
.product-card__icon {
  width: 40px;
  margin-right: 15px;
  color: #fff;
}
.product-card__icon:hover {
  color: #e90000;
}
.product-card__icon .animatedSvg {
  color: currentColor;
  fill: currentColor;
  transition: all 0.3s ease;
}
.product-card__icon.active {
  color: #e90000;
}
.product-card__description {
  display: none;
  position: absolute;
  top: calc(100% - 5px);
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.6);
}
.product-card__description-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product-card .description-key {
  color: #888;
  font-size: 1.5rem;
}
.product-card .description-value {
  margin-left: 5px;
  color: #000;
  font-size: 1.5rem;
}

/* ---------- FOOTER ---------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: rgb(66, 66, 66);
  background: linear-gradient(0deg, rgb(66, 66, 66) 0%, rgb(247, 248, 249) 100%);
}
.footer__link {
  font-family: "Rampart One", cursive;
  font-weight: bold;
  font-size: 5rem;
  transition: all 0.2s ease;
}
.footer__link:hover {
  color: #fff;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.rickroll {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  cursor: none;
  background-color: #000;
  z-index: 99;
}

/*# sourceMappingURL=styles.css.map */
