@import './utils/variables';
@import './settings.scss';

.container {
  max-width: 1600px;
  height: 100%;

  margin: 0 auto;
}

/* ---------- HEADER ---------- */

.header {
  position: sticky;
  top: 0;

  background-color: #fcfcfc;
  
  box-shadow: 0px 0px 15px 0px rgba(61,61,61,0.3);

  z-index: 10;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $header-height;
  }

  &__logo {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3.5rem;
  }

  &__link {
    transition: all .2s ease;

    &:hover {
      color: #fff;
      text-shadow: -2px 2px 0 #000,
            2px 2px 0 #000,
            2px -2px 0 #000,
            -2px -2px 0 #000;
    }
  }

  &__searchbar {
    flex-basis: 70rem;
  }

  &__field {
    width: 100%;
    height: 4rem;

    padding-left: 40px;

    background: no-repeat url(./svg/magnifying-glass.svg);
    background-position: left;
    background-size: contain;
    background-color: #fdfdfd;

    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(61,61,61,0.4);

    font-size: 2rem;

    transition: all .3s ease;

    &:hover {
      box-shadow: 0px 2px 5px 0px rgba(61,61,61,0.4);
    }
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    flex-basis: 12rem;
  }

  &__icon {
    width: 4rem;
    height: 4rem;

    &--heart:hover {
      color: $red-heart-color;
    }

    &--basket:hover {
      color: #00a7e4;
    }
  }

  .animatedSvg {
    color: currentColor;
    fill: currentColor;
    transition: all .3s ease;
  }
}



/* ---------- MAIN SECTION ---------- */

.main {
  height: max-content;

  &__header {
    font-size: 3.5rem;
    line-height: 10rem;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    height: max-content;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    height: 100%;
    flex-grow: 1;
  }
}

/* ----- filters ----- */

.filters {
  align-self: flex-start;
  position: sticky;

  top: calc($header-height + 10px);

  min-width: 300px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.filter {
  display: flex;
  flex-direction: column;

  padding: 10px;

  border-radius: 5px;

  background-color: #fff;

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: $filter-text-size;
    line-height: calc($filter-text-size + 10px);
    font-weight: bold;

    cursor: pointer;

    &.active {
      .filter__toggler::after {
        transform: scaleY(0.1);
      }

      & + .filter__content {
        display: flex;
      }
    }
  }

  &__toggler {
    position: relative;

    width: $filter-text-size;
    height: $filter-text-size;

    &::after {
      content: '';

      position: absolute;
      
      left: 50%;

      width: 2px;
      height: $filter-text-size;

      background-color: $main-text-color;

      transform: translateX(-50%);
      transform-origin: center;

      transition: all .2s ease;
    }

    &::before {
      content: '';

      position: absolute;

      top: 50%;

      width: $filter-text-size;
      height: 2px;

      background-color: $main-text-color;

      transform: translateY(-50%);
    }
  }

  &__content {
    display: none;
    flex-direction: column;

    .price-container {
      display: flex;
      justify-content: space-between;
      align-items:center;

      margin-top: 10px;

      .price {
        height: 4rem;
        width: 100px;

        text-align: center;

        border: 1px solid #eee;
        border-radius: 5px;

        font-size: 2rem;
      }

      .delimiter {
        height: 3px;
        width: 20px;

        background-color: $main-text-color;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: 15px;
  }

  &__item {
    position: relative;
  }

  &__checkbox {
    position: absolute;

    appearance: none;

    &:checked + .filter__label::before {
      background-color: $main-blue;
    }
  }

  &__label {
    font-size: 1.5rem;

    padding-left: 22px;

    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      display: block;

      left: 0;
      top: 0;

      width: 15px;
      height: 15px;

      border: 1px solid #ccc;
      border-radius: 5px;

      background-color: #fff;

      transition: background-color .2s ease;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;

      left: 2px;
      top: 2px;

      width: 12px;
      height: 12px;

      background-image: url(../svg/check-mark.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

/* ----- sort options ----- */

.sort-options {
  display: flex;
  justify-content: start;

  padding-left: 10px;

  background-color: #fff;

  border-radius: 5px;

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: max-content;

    font-size: 1.5rem;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.5vw;

    width: 100%;

    padding-left: 10px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: max-content;
    height: 6rem;

    font-size: 1.5rem;

    cursor: pointer;

    &:hover {
      color: $main-blue;
    }

    &.active {
      color: $main-blue;

      border-bottom: 3px solid $main-blue;
      padding-top: 3px;
    }
  }
}

/* ----- products ----- */

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;

  height: max-content;
}

/* ----- product card ----- */

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;

  border-radius: 5px;

  padding: 15px;

  background-color: #fff;

  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);

  &:hover {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);

    & .product-card__description {
      display: block;
    }
  }

  &__image-link {
    align-self: center;

    margin-bottom: 10px;
  }

  &__name {
    font-size: 1.7rem;

    margin-bottom: 5px;

    &:hover {
      color: $main-blue;
    }
  }

  &__rating {
    display: flex;
    justify-content: flex-start;
    gap: 5px;

    margin-bottom: 15px;

    &-star {
      height: 1.5rem;
    }
  }

  &__price-word {
    color: $additional-grey;

    font-size: 1.5rem;

    margin-top: auto;
    margin-bottom: 5px;
  }

  &__price {
    font-size: 2.2rem;

    margin-bottom: 10px;
  }

  &__buy-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    padding: 15px 60px;

    color: #fff;
    font-size: 1.8rem;

    background-color: #00ac45;

    transition: all .2s ease;

    &:hover {
      background-color: darken(#00ac45, 5%);
    }
  }

  &__icon {
    width: 40px;

    margin-right: 15px;

    color: #fff;

    &:hover {
      color: $red-heart-color;
    }

    .animatedSvg {
      color: currentColor;
      fill: currentColor;
      transition: all .3s ease;
    }

    &.active {
      color: $red-heart-color;
    }
  }

  &__description {
    display: none;
    position: absolute;

    top: calc(100% - 5px);
    left: 0;
    right: 0;

    z-index: 1;

    border-radius: 0 0 5px 5px;

    padding: 15px;

    background-color: #fff;

    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6);
  }

  &__description-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .description-key {
    color: $additional-grey;
    font-size: 1.5rem;
  }

  .description-value {
    margin-left: 5px;

    color: #000;
    font-size: 1.5rem;
  }
}
